<div class="content-holder">
  <h1>Members Only App</h1>
  <nav>
    <% if (!user) { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <% } else { %>
    <a href="/passcode">Enter a passcode</a>
    <a href="/add-message">Add a Message</a>
    <a href="/logout">Logout</a>
    <% } %>
  </nav>
  <div class="messages-holder">
    <% if (messages.length > 0) { %> <% messages.forEach(message => { %>
    <div class="message">
      <p><%= message.content %></p>
      <% if (user && user.role !== "guest") { %>
      <span><%= message.User ? message.User.username : "Anonymous" %></span>
      <br />
      <% } %>
      <small
        ><%= new Date(message.createdAt).toLocaleDateString("en-US") %></small
      >
      <hr />
    </div>
    <% }) %> <% } else { %>
    <p>No messages found.</p>
    <% } %>
  </div>
</div>
